In [29]:
import pandas as pd
import os

# Mergining 12 months of sales data into a single file

In [30]:
df1 = pd.read_csv("./Sales_Data/Sales_April_2019.csv")

 os.listdir() method gets the list of all files and directories in a specified directory. By default, it is the current directory. Beyond the first level of folders, os.listdir() does not return any files or folders.

In [31]:
sale_path = "./Sales_Data"
dir_list_1 = os.listdir(sale_path)



# for alist in dir_list_1:
#     current_file = (sale_path + "/"+ alist)
#     all_month_data = pd.concat([all_month_data, pd.read_csv(current_file)])

#create a function to create new data frame contain concatinate all files in the directory
def concatFilesFromDir(Dir, currentPathName):
    all_file = pd.DataFrame()
    for file in Dir:
        current_file= (currentPathName + "/"+ file)
        all_file = pd.concat([all_file, pd.read_csv(current_file)])
    return all_file

all_file = concatFilesFromDir(dir_list_1, sale_path)
display(all_file)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"